<h5 cla>Enter your Registered email</h5>
<div class="emailField">

    <h2>Email veification</h2>
    <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
    <div fxLayout="column" fxLayoutAlign="space-between center" >

<p>
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput placeholder="email" formControlName="username">
      <mat-icon matSuffix>email</mat-icon >
    </mat-form-field>
  </p>
  <button mat-raised-button>Submit</button>
    </div>