.textarea {
    border: 0px;
    outline: 0px;
    background-color: none;
    
}
.submit {
    float :right
}


.textArea{
    border: none;
    background-color: none;
 
    background-color: #fff;
    border-color: #e0e0e0;
}
.content{
    margin-left: -2%;
    border: none;
    margin-bottom: 10px;
    margin-top: 0px; }