<div class="trashedbody" fxLayout="row" fxLayoutAlign="center center">
    <div>
        <div *ngFor="let note of listNotes;let notetempid=index" class="noteCard">

            <mat-card class="matcard" style="margin-left:90px" autocomplete="off" role="combobox" flex="column">

                <mat-card-title class="content">
                    <textarea class="textArea" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1" cdkAutosizeMaxRows="100" placeholder="Title"
                        disabled>{{note.title}}</textarea>
                </mat-card-title>
                <mat-card-content class="content">
                    <textarea class="textArea" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1" cdkAutosizeMaxRows="100" placeholder="Description"
                        disabled>{{note.description}}</textarea>
                </mat-card-content>

                <div class="matCardFooter">
                    <mat-card-footer>
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="deletenotePemenently(note,notetempid)">Delete Note
                                Permenantly</button>
                            <button mat-menu-item (click)="restoreNote(note,notetempid)">Restore</button>
                        </mat-menu>
                    </mat-card-footer>
                </div>

            </mat-card>
        </div>
    </div>
</div>