.matcard{
  margin-top: -22px;
  
}
.note{
  
    width: 1650px;
    height: 8px;
    margin-top: 1%;
  }
  .noteEditCard {
   width: 600px;
    height: 20px; 
    border-radius: 8px;
    margin-top: 30px;
    margin-left: 30px;
  }
  .noteEditCard{
    margin-top: 8px
  }
  .noteFields{
    margin-top: 20px;
    width: 488px;
    height: auto;
    margin-left: 50px;
  }

  .tittleField {
      margin-top: none;
      border: none;
      outline: none;
      margin-top: 8px;
      width: 300px;
      height: auto;
      padding-right: 70px;
  }.textField
  {
    margin-top: none;
    border: none;
    outline: none;
    margin-top:0px;
    width: 350px;
    height: auto;
    padding-left: 18px;
    padding-right: 0px;
  }
  .pinIcon{
    margin-top: none;
    padding-left: 4px;
    float: right;
  }
  .matcardHeader{
  margin-bottom: -10px;
  }
  .submit{
    float: right;
  }
  .remIcon
  {
    width: 2px;
    height: 2px;
    margin-top: 2px;
    float: left;
  }